{% extends "default_layout.html" %}
{% block content %}
<h1>Terms Of Service</h1>
<p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the economitopia.com​ website (the "Service") operated by economitopia​ ("us", "we", or "our").
Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
<h2>Age</h2>
<p>You warrant that you're atleast 13 years old</p>
<h2>Liability</h2>
<p>Under no circumstances economitopia should be liable for your damages arising from:</p>
<ul>
	<li>Use of economitopia</li>
	<li>Technical failure of economitopia</li>
	<li>Loss or breach of data</li>
	<li>Administrative actions performed by economitopia, both automatic and manual actions</li>
	<li>Unauthorized access of a third party to your account</li>
</ul>
<p>You accept full liability for the content you submit or upload on economitopia. And indemnify economitopia from all liability.</p>
<h2>Intellectual property</h2>
<p>You warrant that you're authorized to share or upload the content you post. You grant economitopia a permanent irrevocable and worldwide license to share, modify, distribute, store and distribute modification of, all your content that you submit or upload to economitopia, and also a irrevocable and worldwide license to sublicense the content to economitopia's service providers.</p>
<h2>Changes to our Terms of Service</h2>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least ​20​ days' notice prior to any new termstaking effect. What constitutes a material change will be determined at our sole discretion.
If one clause of these Terms or the Content Policy is determined by a court to be unenforceable, the remainder of the Terms and Content Policy shall remain in force.</p>
<h2>Content policy</h2>
<p>We do not allow the following:</p>
<ul>
	<li>Illegal content</li>
	<li>Anything that violates our ToS</li>
</ul>
<p>We will remove any file for any reason at any moment.</p>
<h2>Contact</h2>
<p>If you want to receive further information about our Terms of Service. Send an E-Mail to this address <a href='answers@economitopia.com'>answers@economitopia.com</a>.</p>
{% endblock %}
