<!DOCTYPE html>
<html>
	{% include 'common/head.html' %}
	<body>
		{% include 'common/navbar.html' %}

		<!--<div class='alert'>
			<p>Post published sucessfuly!</p>
		</div>-->

		<div>
			<div class='index-intro'>
				<div class='index-block'>
					<br>
					<h1 class='index-intro-title'>{% trans %}Hello!{% endtrans %} :D</h1>
					<p class='index-intro-brief'>{% trans %}An open-source social network{% endtrans %}. <a style='color:grey;' href='/user/signup'>{% trans %}Register{% endtrans %}</a> {% trans %}and start posting!{% endtrans %}.</p>
					
					<a style='color:grey;' href='/help/guide'>Quick tour</a>
					
					{% if u != None %}
					<form method='GET' action='/post/feed/new'>
						<input class='index-intro-btn' type='submit' value='{% trans %}View feed{% endtrans %}'>
					</form>
					{% else %}
					<form method='GET' action='/user/signup'>
						<input class='index-intro-btn' type='submit' value='{% trans %}Signup{% endtrans %}'>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
		{% include 'common/footer.html' %}
	</body>
</html>
