<footer>
	<div style='float:right;'>
	<a class='footer-element' href='/legal/terms'>{% trans %}Terms of Service{% endtrans %}</a>
	<a class='footer-element' href='/legal/privacy'>{% trans %}Privacy Policy{% endtrans %}</a>
	<a class='footer-element' href='/legal/content'>{% trans %}Content Policy{% endtrans %}</a>
	<a class='footer-element hidden-on-mobile' href='https://gitlab.com/superleaf1995/xaiecon'>{% trans %}Source Code{% endtrans %}</a>
	<a class='footer-element' href='https://discord.gg/d8hT4YBavu'>{% trans %}Discord Server{% endtrans %}</a>
	<a class='footer-element hidden-on-mobile' href='https://freenode.net/'>IRC Channel</a>
	<a class='footer-element' href='#'>&copy; 2018 - 2020 Xaiecon</a>
	</div>
</footer>