{% if session.agreed_gdpr != True %}
<div id='gdpr-block' class='block-content' style='background-color:yellow'>
	<script>
	function gdpr_agree() {
		var xhr = new XMLHttpRequest();
		var url = '/gdpr/agree';
		xhr.open('GET',url,true);
		xhr.onreadystatechange = function() {
			if(xhr.readyState == 4 && xhr.status == 200) {
				e = document.getElementById('gdpr-block');
				e.style.display = 'none';
			}
		}
		xhr.send();
	}
	</script>
		<p>We use cookies/sessions for a better user experience, please allow us to store cookies on your browser.</p>
	<a onclick='gdpr_agree();'>I consent</a>
</div>
{% endif %}