<ul class='header-nav' style='float:left;'>
	<h2>User panel</h2>
	<hr>
	<li><a href='/board/new'>New board</a></li>
	{% if u %}
	<li><a href='/post/write'>New post</a></li>
	<li><a href='/user/view?uid={{ u.id }}'>/u/{{ u.username }}</a></li>
	<h2>My boards</h2>
	<hr>
	{% for board in u.owned_boards() %}
		<a href='/board/view?bid={{ board.id }}'>/b/{{ board.name }}</a></br>
	{% endfor %}
	{% else %}
	<h1>Get back</br>the internet.</h1>
	{% endif %}
	<hr>

	<a href='/legal/terms'>Terms of Service</a></br>
	<a href='/legal/privacy'>Privacy Policy</a></br>
	<a href='/legal/content'>Content Policy</a></br>
	<p><a href='https://gitlab.com/superleaf1995/xaiecon'>Source Code</a> (GPL v3)</p>

	<p>&copy; 2018 - 2020 Xaiecon</p>
</ul>