# Yep, leaving .mo files is ok; People does not want to pybabel each time they clone this

# Remove python cache stuff
*.pyc
__pycache__/
user_data/*

# Some editor's stuff
.spyproject/
.spyproject/*

app.zip
