{% extends "default_layout.html" %}
{% block content %}
<h1>Add instance</h1>
<p>Join a fediverse or create your own, and let your users meet others without barriers.</p>
<form enctype='multipart/form-data' method='POST' action='/fediverse/chain'>
	<label for='ip_addr'>IP Address</label>
	<input class='textbar-normal' type='text' id='ip_addr' name='ip_addr' placeholder='127.0.0.1:8000'><br>
	<label for='name'>Alias</label>
	<input class='textbar-normal' type='text' id='name' name='name' placeholder='Some cool name'><br>
	<input type='submit' value='Add instance'><br>
</form>
{% endblock %}
