{% extends "default_layout.html" %}
{% block content %}
<h1>Edit board /b/{{ board.name }}</h1>
<form enctype='multipart/form-data' method='POST' action='/board/edit'>
	<input type='text' name='pid' style='display:none;' value='{{ board.id }}'>
	<span>Name</span>
	<input class='textbar-normal' type='text' name='name' placeholder='Name of your board' value='{{ board.name }}'></br>
	<span>Description</span>
	<textarea class='textbar-normal' maxlength='4095' name='descr' placeholder='Description'>{{ board.descr }}</textarea></br>
	<span>Keywords</span>
	<input class='textbar-normal' type='text' name='keywords' placeholder='cats, dogs, etc' value='{{ board.keywords }}'></br>
	<span>Category</span>
	<select name='category'>
	{% for category in categories %}
		<option value='{{ category.name }}'>{{ category.name }}</option>
	{% endfor %}
	</select>
	<input type='submit'></br>
</form>
{% endblock %}
