<article class='post-brief' style='overflow:auto;'>
	<div class='post-brief-thumb'>
	{% if post.is_link == True %}
		<a href='{{ post.link_url }}'>
		{% if post.link_url.startswith('lbry://') or post.link_url.startswith('https://lbry.tv') or post.link_url.startswith('https://www.lbry.tv') %}
			<img src='/assets/embed_lbry.png'></img>
		{% endif %}
		</a>
	{% elif post.is_image == True %}
		<a href='{{ post.link_url }}'><img src='/post/thumb?pid={{ post.id }}'></img></a>
	{% endif %}
	</div>

	<div style='height:100%;float:left;margin:0 16px;'>
	{% if u != None %}
		<a tabindex=0 id='{{ post.id }}-upvote' class='content-upvote{% if u.has_vote_on_post(post.id).value == 1 %}-active{% endif %}' onclick='vote_post("{{ post.id }}",1)'>&#11165;</a>
		<p id='{{ post.id }}-counter'>{{ post.upvote_count }}/{{ post.downvote_count }}</p>
		<a tabindex=0 id='{{ post.id }}-downvote' class='content-downvote{% if u.has_vote_on_post(post.id).value == -1 %}-active{% endif %}' onclick='vote_post("{{ post.id }}",-1)'>&#11167;</a>
	{% else %}
		<a tabindex=0 class='content-upvote'>&#11165;</a>
		<p id='{{ post.id }}-counter'>{{ post.upvote_count }}/{{ post.downvote_count }}</p>
		<a tabindex=0 class='content-downvote'>&#11167;</a>
	{% endif %}
	</div>
	
	<a href='/post/view?pid={{ post.id }}'><h2>{{ post.title }}</h2></a>
	
	<p style='color:gray;'>Submitted {{ post.creation_date }} by 
	<a href='/user/view?uid={{ post.user_info.id }}'>/u/{{ post.user_info.username }}</a>
	Posted on <a href='/board/view?bid={{ post.board_info.id }}'><img style='border-radius:12px;width:24px;height:24px;' src='/board/thumb?bid={{ post.board_info.id }}'></img> /b/{{ post.board_info.name | truncate(50,True) }}</a>
	</p>
	
	<a class='post-option' href='/post/list?category={{ post.category_info.name }}'>{{ post.category_info.name }}</a>

	<a class='post-option' href='/post/view?pid={{ post.id }}'>{{ post.views }} views</a>
	<a class='post-option' href='/post/view?pid={{ post.id }}'>{{ post.number_comments }} comments</a>
	
{% if u != None %}
	{% if u.id == post.user_id or u.is_admin == True %}
	<a class='post-option' href='/post/delete?pid={{ post.id }}'>Delete</a>
	<a class='post-option' href='/post/edit?pid={{ post.id }}'>Edit</a>
	{% endif %}
	{% if post.board_info and u.mods(post.board_info.id) == True or u.is_admin == True %}
	<a class='post-option' href='/post/kick?pid={{ post.id }}'>Kick</a>
	{% if post.is_nuked == False %}
	<a class='post-option' href='/post/nuke?pid={{ post.id }}'>Nuke</a>
	{% elif u.is_admin == True %}
	<a class='post-option' href='/post/unnuke?pid={{ post.id }}'>Un-nuke</a>
	{% endif %}
	<a class='post-option' href='/board/ban?bid={{ post.board_id }}&uid={{ post.user_id }}'>Ban user</a>
	{% endif %}
	<a class='post-option' href='/post/yank?pid={{ post.id }}'>Yank</a>
{% endif %}
	<a class='post-option' href='/post/ballot?pid={{ post.id }}'>Voters</a>
	<a class='post-option' href='/post/flag?pid={{ post.id }}'>Flag</a>
</article>
