{% extends "default_layout.html" %}
{% block content %}
	<div style='height:100%;float:left;margin:0 16px;'>
	{% if u != None %}
		<a tabindex=0 id='{{ post.id }}-upvote' class='content-upvote{% if u.has_vote_on_post(post.id).value == 1 %}-active{% endif %}' onclick='vote_post("{{ post.id }}",1)'>&#11165;</a>
		<p id='{{ post.id }}-counter'>{{ post.upvote_count }}/{{ post.downvote_count }}</p>
		<a tabindex=0 id='{{ post.id }}-downvote' class='content-downvote{% if u.has_vote_on_post(post.id).value == -1 %}-active{% endif %}' onclick='vote_post("{{ post.id }}",-1)'>&#11167;</a>
	{% else %}
		<a tabindex=0 class='content-upvote'>&#11165;</a>
		<p id='{{ post.id }}-counter'>{{ post.upvote_count }}/{{ post.downvote_count }}</p>
		<a tabindex=0 class='content-downvote'>&#11167;</a>
	{% endif %}
	</div>
	
	<a href='/post/view?pid={{ post.id }}'><h2>{{ post.title }}</h2></a>
	
	<p style='color:gray;'>Submitted {{ post.creation_date }} by 
	<a href='/user/view?uid={{ post.user_info.id }}'>/u/{{ post.user_info.username }}</a>
	Posted on <a href='/board/view?bid={{ post.board_info.id }}'>/b/{{ post.board_info.name | truncate(50,True) }}</a>
	</p>
	
	<div>
		<p>{{ post.body_html | safe }}</p>
		{{ post.embed_html|safe }}
		{% if post.is_image == True %}
		<a href='{{ post.link_url }}'><img src='/post/image?pid={{ post.id }}'></img></a>
		{% endif %}
	</div>

	<a class='post-option' href='/post/list?category={{ post.category_info.name }}'>{{ post.category_info.name }}</a>
	
	<a class='post-option' href='/post/view?pid={{ post.id }}'>{{ post.views }} views</a>
	<a class='post-option' href='/post/view?pid={{ post.id }}'>{{ post.number_comments }} comments</a>
	
{% if u != None %}
	{% if u.id == post.user_id or u.is_admin == True %}
	<a class='post-option' href='/post/delete?pid={{ post.id }}'>Delete</a>
	<a class='post-option' href='/post/edit?pid={{ post.id }}'>Edit</a>
	{% endif %}
	{% if post.board_info and u.mods(post.board_info.id) == True or u.is_admin == True %}
	<a class='post-option' href='/post/kick?pid={{ post.id }}'>Kick</a>
	<a class='post-option' href='/post/nuke?pid={{ post.id }}'>Nuke</a>
	<a class='post-option' href='/board/ban?bid={{ post.board_id }}&uid={{ post.user_id }}'>Ban user</a>
	{% endif %}
	<a class='post-option' href='/post/yank?pid={{ post.id }}'>Yank</a>
{% endif %}
	<a class='post-option' href='/post/ballot?pid={{ post.id }}'>Voters</a>
	<a class='post-option' href='/post/flag?pid={{ post.id }}'>Flag</a>
	
	</br>
	
	<h2>Add comment</h2>
	<form enctype='multipart/form-data' method='POST' action='/comment/create'>
		<input type='text' name='pid' style='display:none;' value='{{ post.id }}'>
		<textarea rows=6 cols=60 class='textbar-normal' type='text' name='body' placeholder='Comment body'></textarea></br>
		<input class='form-btn' type='submit'>
	</form>
	
	{% if comment %}
		<h2>Comments</h2>
		<hr>
		{% for c in comment %}
			<div id='parent-{{ c.id }}' class='comment-block-details' style='margin-left:{{ c.depth_level-1 }}0%'>
				<img style='border-radius:32px;float:left;' width='64px' height='64px' src='/user/thumb?uid={{ c.user_id }}'></img>
				<p style='color:grey;'>Submitted by: <a href='/user/view?uid={{ c.user_id }}'>/u/{{ c.user_info.username }}</a></p>
				<p>{{ c.body }}</p>
				<a onclick='reply_comment("reply-form-{{ c.id }}");'>Reply</a>
				{% if c.more_children == True %}
				<a href='/comment/view?cid={{ c.id }}'>View entire discussion</a>
				{% endif %}
			</div>
			<div id='reply-form-{{ c.id }}' class='comment-block-details' style='margin-left:{{ c.depth_level }}0%;display:none;'>
				<form enctype='multipart/form-data' method='POST' action='/comment/reply'>
					<input type='text' name='pid' style='display:none;' value='{{ post.id }}'>
					<input type='text' name='cid' style='display:none;' value='{{ c.id }}'>
					<textarea rows=6 cols=60 class='textbar-normal' type='text' name='body' placeholder='Comment body'></textarea></br>
					<input class='form-btn' type='submit' value='Reply'>
				</form>
			</div>
		{% endfor %}
	{% else %}
		<h2>No comments yet</h2>
	{% endif %}
{% endblock %}
