{% extends "default_layout.html" %}
{% block content %}
<h1>Edit</h1>
{% if edit_error %}
<p>{{ edit_error }}</p>
{% endif %}
<form enctype='multipart/form-data' method='POST' action='/post/edit'>
	<input type='text' name='pid' style='display:none;' value='{{ post.id }}'>
	<label for='title'>Title</label>
	<input class='textbar-normal' type='text' name='title' placeholder='Title of resource' value='{{ post.title }}'></br>
	<label for='description'>Description</label>
	<textarea class='textbar-normal' maxlength='4095' name='body' placeholder='Body of post'>{{ post.body }}</textarea></br>
	<label for='description'>Keywords</label>
	<input class='textbar-normal' type='text' name='keywords' placeholder='Comma separated list of keywords' value='{{ post.keywords }}'></br>
	<label for='link'>Link</label>
	<input class='textbar-normal' type='text' name='link' value='{{ post.link_url }}'></br>
	<label for='is_nsfw'>Is post NSFW?</label>
	<input type='checkbox' name='is_nsfw' value='{{ post.is_nsfw }}'></input></br>
	<input class='form-btn' type='submit'></br>
</form>
{% endblock %}
