{% extends "default_layout.html" %}
{% block content %}
<h1>Edit</h1>
{% if edit_error %}
<p>{{ edit_error }}</p>
{% endif %}
<form enctype='multipart/form-data' method='POST' action='/post/edit'>
	<input type='text' name='id' style='display:none;' value='{{ data.id }}'>
	<span>Name</span>
	<input class='textbar-normal' type='text' name='name' placeholder='Title of resource' value='{{ data.name }}'></br>
	<span>Description</span>
	<textarea class='textbar-normal' maxlength='4095' name='description' placeholder='Description'>{{ data.descr }}</textarea></br>
	<span>Keywords</span>
	<input class='textbar-normal' type='text' name='keywords' placeholder='Comma separated list of keywords' value='{{ data.keywords }}'></br>
	<input type='checkbox' name='is_nsfw' value='{{ data.is_nsfw }}'>Is NSFW? (+18)</input></br>
	<input type='checkbox' name='is_link' value='{{ data.is_link }}' onchange='handle_is_link(this);'>Is link?</input></br>
	<div id='link-text' style='display:none'>
		<input class='textbar-normal' type='text' name='link' value='{{ data.link_url }}'></br>
	</div>
	<input type='submit'></br>
</form>

<script>
	function handle_is_link(checkbox) {
		var txt = document.getElementById('link-text');
		if(checkbox.checked == true) {
			txt.style.display = 'block';
		} else {
			txt.style.display = 'none';
		}
	}
</script>
{% endblock %}
