{% extends "default_layout.html" %}
{% block content %}
	<h1>List posts</h1>
	{% if posts %}
		<div>
		{% for post in posts %}
			{% include 'post/brief.html' %}
		{% endfor %}
		</div>
		<p>
		<a href='/post/list/{{ sort }}?page={{ page-1 }}&num={{ num }}&category={{ category }}'>&lt;&lt;</a>
		{{ page }}
		<a href='/post/list/{{ sort }}?page={{ page+1 }}&num={{ num }}&category={{ category }}'>&gt;&gt;</a>
		</p>
	{% else %}
	<p>No posts yet</p>
	{% endif %}
<script type='text/javascript'>
setInterval(update_content_time,1000);
</script>
{% endblock %}
