{% extends "default_layout.html" %}
{% block content %}
<h1>New post</h1>
<hr>
<form enctype='multipart/form-data' method='POST' action='/post/write'>
	<span>Title</span>
	<input class='textbar-normal' type='text' name='name' placeholder='Title of post'></br>
	<span>Description</span>
	<textarea class='textbar-normal' maxlength='4095' name='description' placeholder='Description'></textarea></br>
	<span>Keywords</span>
	<input class='textbar-normal' type='text' name='keywords' placeholder='Comma separated list of keywords'></br>
	<input type='checkbox' name='is_nsfw' value='false'>Is NSFW? (+18)</input></br>
	<input type='checkbox' name='is_link' value='false' onchange='handle_is_link(this);'>Is link?</input></br>
	<div id='link-text' style='display:none'>
		<input class='textbar-normal' type='text' name='link'></br>
	</div>
	{% if boards %}
		<span>Board to post to</span>
		<select name='bid'>
			{% for board in boards %}
			<option value='{{ board.id }}'>{{ board.name }} - /u/{{ board.user_info.username }}</option>
			{% endfor %}
		</select>
	{% endif %}
	<span>Category</span>
	<select name='category'>
	{% for category in categories %}
		<option value='{{ category.name }}'>{{ category.name }}</option>
	{% endfor %}
	</select>
	<input type='submit'></br>
</form>
<script>
	function handle_is_link(checkbox) {
		var txt = document.getElementById('link-text');
		if(checkbox.checked == true) {
			txt.style.display = 'block';
		} else {
			txt.style.display = 'none';
		}
	}
</script>
{% endblock %}
