{% extends "default_layout.html" %}
{% block content %}
<h1>Yank post</h1>
<hr>
<form enctype='multipart/form-data' method='POST' action='/post/yank'>
	<input type='text' name='pid' style='display:none;' value='{{ post.id }}'>
	{% if boards %}
		<span>Board to yank to</span>
		<select name='bid'>
			{% for board in boards %}
				{% if u.mods(board.id) and post.board_id != board.id %}
					<option value='{{ board.id }}'>{{ board.name }} - /u/{{ board.user_info.username }}</option>
				{% endif %}
			{% endfor %}
		</select>
	{% else %}
	<p>You are not moderating any guilds, you cannot yank</p>
	{% endif %}
	<input class='form-btn' type='submit'></br>
</form>
{% endblock %}
