{% extends "default_layout.html" %}
{% block content %}

<form enctype='multipart/form-data' method='POST' action='/user/edit'>
	<h1>{{ user.username }}</h1>

	<input style='display:none;' value='{{ user.id }}' name='uid'>

	<label for='biography'>{% trans %}Biography{% endtrans %}</label>
	<input class='textbar-normal' type='text' id='biography' name='biography' value='{{ user.biography }}' placeholder='Biography'></br>

	<label for='profile'>{% trans %}Profile picture{% endtrans %}</label>
	<input class='textbar-normal' type='file' id='profile' name='profile'></br>
	
	<label for='email'>{% trans %}Electronic Mail Address{% endtrans %}</label>
	<input class='textbar-normal' type='text' id='email' name='email' value='{{ user.email }}' placeholder='Electronic Mail Address'></br>

	<label for='is_show_email'>{% trans %}Show E-Mail address?{% endtrans %}</label>
	<input type='checkbox' id='is_show_email' name='is_show_email' value='{{ user.is_show_email }}'></br>
	
	<label for='fax'>{% trans %}Telefax{% endtrans %}</label>
	<input class='textbar-normal' type='text' id='fax' name='fax' value='{{ user.fax }}' placeholder='Telefax'></br>
	
	<label for='is_show_fax'>{% trans %}Show telefax number?{% endtrans %}</label>
	<input type='checkbox' id='is_show_fax' name='is_show_fax' value='{{ user.is_show_fax }}'></br>
	
	<label for='phone'>{% trans %}Telephone number{% endtrans %}</label>
	<input class='textbar-normal' type='text' id='phone' name='phone' value='{{ user.phone }}' placeholder='Telephone'></br>
	
	<label for='is_show_phone'>{% trans %}Show phone number?{% endtrans %}</label>
	<input type='checkbox' id='is_show_phone' name='is_show_phone' value='{{ user.is_show_phone }}'></br>
	
	<span>{% trans %}Check this box if you are ok viewing NSFW content{% endtrans %}</span>
	<input type='checkbox' name='is_nsfw' value='{{ user.is_nsfw }}'></br>
	
	<input class='form-btn' type='submit' value='{% trans %}Edit{% endtrans %}'>
</form>
{% endblock %}
